:root {
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-line-height: 1.6;
  --main-margin-top: 100px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8ff;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);

  text-align: center;
}

main {
  margin-top: var(--main-margin-top);
}

.app-title {
  font-size: 30px;
  color: #f6be00;
  font-weight: 800;
  margin-left: 20px;
}

.page-main__item {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.page-logo__item {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

.modal-header__item {
  width: 50px;
  height: 50px;
}

#loading_message {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: #fffaf0;
}

.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-row-gap: 5px;
  align-items: center;
}

.button-pokemon {
  background-color: #6495ed;
  border: 0;
  border-radius: 0em;
  box-sizing: border-box;
  color: #fff;
  width: 330px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: 12px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pokemon:before {
  background-color: initial;
  border-radius: 2em;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 93%;
}

.button-pokemon:hover {
  border-color: #a52a2a;
  background-color: #a52a2a;
  color: #f8f8ff;
}

.modal-title {
  color: #000000;
}
@media only screen and (max-width: 900px) {
  main {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 576px) {
  main {
    margin-top: 300px;
  }
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
